@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewBook-Reg.eot');
    src: url('../fonts/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaNewBook-Reg.ttf') format('truetype'),
         url('../fonts/FuturaNewBook-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CodeProLC';
    src: url('../fonts/Code-Pro-LC.eot');
    src: url('../fonts/Code-Pro-LC.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Code-Pro-LC.woff') format('woff'),
         url('../fonts/Code-Pro-LC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CodeProBold';
    src: url('../fonts/Code-Pro-Bold-LC.eot');
    src: url('../fonts/Code-Pro-Bold-LC.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Code-Pro-Bold-LC.woff') format('woff'),
         url('../fonts/ode-Pro-Bold-LC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria.woff') format('woff'),
         url('../fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GeometriaB';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Bold.woff') format('woff'),
         url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}